# OS
Thumbs.db
.DS_Store
.Trashes
.Spotlight-V100
.AppleDouble
.LSOverride
Desktop.ini
.hugo_build.lock

# Ignore binary audio
*.pcm
*.mp3

# Ignore public C++ headers
#   https://github.com/mackron/dr_libs
#   https://github.com/mackron/miniaudio
dr_wav.h
miniaudio.h